.list-main{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 15px;
    list-style-type: none;
}
.nav-buttons{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    gap:15px

}
.pagination{
    display: flex;
    justify-content: center;
}