*{
    box-sizing: border-box;
    margin: 0;
}

.first_div, .second_div{
    display: inline-block;
    width: 40%;
    height: 500px;
    font-size: 0;
    margin-bottom: -4px;
    border: 2px solid;
}

.card{
    width: 200px;
    height: 300px;
    
   border: 2px solid;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
.card>img{
    display: block;
}
