*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}
body{
    
    font-family:Verdana, Arial, Tahoma, Serif;
    
   
}
.card{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid;
    border-radius: 16px;
    border-color: rgb(179, 216, 204);
    text-align: center;
    width:300px;
    height:500px;
    background-color: #E5E3C9;
   
}
.card:hover{
    background-color: antiquewhite;
    border-color: rgb(109, 189, 162);
    margin-top: 80px;
     width: 320px;
    height: 520px;
    
}

.container-img{
    width: 100%;
    height: auto;
    border: none;
    margin:auto;
}


img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
}
.description-img{
    width: 100%;
   
    margin-bottom: 0px;
}
.description-img h2{
    color: #789395;
    padding: 16px;
    text-decoration:underline ;
}
.description-img p{
    padding: 16px;
    color: #7882A4;
}
